@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(/images/CoinBGFilter.png) ;
    background-size: cover;
}
.mainTitle {
    color: white;
}
.login-box {
 width: 280px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 color: white;
}

.login-box h1{
    float: left;
    font-size: 50px;
    margin-bottom:5px;
    padding: 13px 40px;
    color: aquamarine;
    font-family: 'Indie Flower', cursive;
}
.text{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0; 
    border-bottom: 6px solid aquamarine; 
    border-radius: 5px;
    transition: 1s all ease; 
}
.text:hover {
    background-color: #ff7675;
    width: 100%;
}
.text i{
    width: 28px;
    float: left;
    text-align: center;
}
.text input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0  5px;
}

.btn{
    width: 50%;
    background-color: aquamarine;
    border: 2px solid  aquamarine;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 4px 0;
    border-radius: 5px;
    transition: 1s all ease;    
}

.btn:hover {
    background-color: #ff7675;
    width: 100%;
}

p{
    
    font-size: 40px;
    margin-bottom:5px;
    padding: 13px 40px;
    color: aquamarine;

}
#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 15px;
    background-color: green;
}

.linkToLogin {
    color: red;
}
